body{
	margin: 0;
	padding: 0;
}

#page{	
	display: flex;
	flex-direction: column;
 	margin: auto;
}

header{
	margin-left: 18%;	
	margin-bottom: 20px;	
	padding-top: 30px;
	padding-left: 50px;
	display: flex;
	order: 1;
}

header h1 span{
	color: #FECA07;
}

header h3 span{
	border-bottom: 2px #FECA07 solid;
}


img
{
	width: 150px;
    height: 150px;
    border-radius: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

#section{
	background-color: #FECA07;
	width: 18%;	
	position: absolute;
	display: block;
}

#section h2{
	background-color: #565346;
	text-align: center;	
	color: #FECA07;
	width: 100%;
}

#section p{
	text-align: justify;
	padding-top: 20px;
	padding-right: 40px;
	padding-bottom: 20px;
	padding-left: 40px;	
}

.loisirs_general{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 20px;
}

.loisirs{
	color: black;
	border: 1px solid black;
	font-size: xx-large;
	width: 40px;
    height: 40px;
    border-radius: 30px;
    padding: 2%;
}


#espace{
	padding-top: 134.5%;
}


#article_general{
	display: flex;
	order: 2;
	flex-direction: column;
	margin-bottom: 10px;
	margin-left: 18%;
	padding-left: 50px;
	padding-top: 15px;
}


article h2{
	border-bottom: 2px #FECA07 solid;
	width: 97%;
}

i{
	color: #FECA07; 
}

.cercle_cercle{
	color: #FECA07;
	font-size: 10px;
	margin-top: 10px;
}

.cercle_cercle_blanc{
	color: white;
	font-size: 10px;
}

.cercle{
	font-size: 7px;
	color: #FECA07;
}

.cercle_blanc{
	font-size: 7px;
	color: white;	
}

.section_gauche{
	display: flex;
	flex-direction: row;
}


.section_droite_1{
	margin-left: 203px;
	padding-bottom: 30px;
}

.section_droite_2{
	margin-left: 118px;
	padding-bottom: 30px;	
}

.section_droite_3{
	margin-left: 140px;
	padding-bottom: 30px;
}

.section_droite_4{
	margin-left: 104px;
	padding-bottom: 30px;		
}



footer{

	margin-bottom: 30px;
	margin-left: 18%;	
	order: 3;
	padding-left: 50px;
}

footer h2{
	border-bottom: 2px #FECA07 solid;
	width: 97%;	
}

.recommandations_general{
	display: flex;
	flex-direction: row;
}
.section_droite_5{
	margin-left: 122px;
}




@media all and (min-width: 300px) and (max-width: 1200px){
		header{
			order: 0;
			font-size: 45px;
			margin-left: 12%; 
			margin-right: auto;
			margin-top: auto;
			margin-bottom: auto;
	}

		header h3{
			font-size: 55px;
	}

		header h3 span{
			border-bottom: 3px #FECA07 solid;
	}

		#section{
			position: initial;
			width: 100%;
	}

		img{
    	margin-top: 20px;	
    	width: 360px;
    	height: 360px;
    	border-radius: 330px;
	}

		#section h2{
		background-color: #565346;
		width: 100%;
	}	

		#section h2{
			font-size: 45px;
	}

		#section p{
			text-align: center;
			font-size: 25px;
	}

		#espace{
			padding-top: 0;
	}

		.loisirs{
			border: 1px solid black;
			font-size: 100px;
			width: 125px;
    		height: 125px;
    		border-radius: 100px;
    		padding: 8px;
	}



		#article_general{
			margin-left: 0;
	}

		#article_general h2{
			font-size: 50px;
			padding-top: 100px; 
	}

		article h2{
			border-bottom: 3px #FECA07 solid;
			width: 95%;
	}

		#article_general h3{
			font-size: 40px;
	}

		#article_general h4{
			font-size: 35px;
	}

		#article_general p{
			font-size: 25px;
	}

		#article_general i{
			margin-right: 10px;
	}

		.cercle_cercle{
			padding-right: 10px;
	}

		.cercle_cercle_blanc{
			padding-right: 10px;		
	}

		.cercle{
			padding-right: 10px;
	}

		.cercle_blanc{
			padding-right: 10px;
	}



		#article_1{
			margin-left: 0;
			margin-right: 10px;
	}

		.section_gauche{
			display: flex;
			flex-direction: column;
	}

		.section_droite_1{
			margin-left: 0;
	}


		#article_2{
			margin-left: 0;
	}

		.section_droite_2{
			margin-left: 0;
			padding-bottom: 80px;
	}


		#article_3{
			margin-left: 0;
	}

		.section_droite_3{
			margin-left: 0;
			padding-bottom: 80px;
			padding-right: 30px;		
	}


		#article_4{
			margin-left: 0;
			padding-right: 30px;
	}

		.section_droite_4{
			margin-left: 0;
			padding-bottom: 100px;		
	}


		footer{
			margin-left: 0;
	}

		footer h2{
			border-bottom: 3px #FECA07 solid;
			width: 95%;
			font-size: 50px;
	}	

		footer h4{
			font-size: 35px;
	}

		footer i{
			margin-right: 10px;
	}

		.recommandations_general{
			display: flex;
			flex-direction: column;
			padding-top: 5px;
			font-size: 25px;
	}

		.section_droite_5{
			margin-left: 0;
			padding-top: 40px;
	}
}	



