body{
	margin: 0;
	padding: 0;
}

#page{	
	display: flex;
	flex-direction: column;
 	margin: auto;
}

header{
	margin-left: 17.5%;	
	margin-bottom: 1%;	
	padding-top: 30px;
	padding-left: 3%;
	display: flex;
	order: 1;
}

header h1 span{
	color: #FECA07;
}

header h3 span{
	border-bottom: 2px #FECA07 solid;
}


img
{
	width: 150px;
    height: 150px;
    border-radius: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

#section{
	background-color: #FECA07;
	width: 17%;	
	position: absolute;
	display: block;
}

#section h2{
	background-color: #565346;
	text-align: center;	
	color: #FECA07;
	width: 100%;
}

#section p{
	text-align: justify;
	padding-top: 20px;
	padding-right: 40px;
	padding-bottom: 20px;
	padding-left: 40px;	
}

.loisirs_general{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 20px;
}

.loisirs{
	color: black;
	border: 1px solid black;
	font-size: xx-large;
	width: 40px;
    height: 40px;
    border-radius: 30px;
    padding: 2%;
}


#espace{
	padding-top: 118%;
}


#article_general{
	display: flex;
	order: 2;
	flex-direction: column;
}

#article_1{
	margin-bottom: 1%;
	margin-left: 17.5%;
	padding-left: 3%;
	padding-top: 1%;
}

#article_2{
	margin-bottom: 1%;
	margin-left: 17.5%;
	padding-left: 3%;
}

article h2{
	border-bottom: 2px #FECA07 solid;
	width: 95%
}

i{
	color: #FECA07; 
}

.first::before{
	font-family: "FontAwesome";
	content: "\f1992";
	color: white;
}

.cercle_cercle{
	color: #FECA07;
	font-size: 10px;
}

.cercle{
	font-size: 7px;
	color: #FECA07;
}

.section_gauche{
	float: left;
}

.section_gauche_1{
	margin-top: 15px;
}


.section_gauche_2{
	margin-top: 15px;
}

.section_gauche_3{
	margin-top: 45px;
}

.section_gauche_4{
	margin-top: 45px;
}

.section_droite{
	margin-left: 250px;
	margin-top: 35px;
}

.section_droite_1{
	margin-top: 33px;
}

.section_droite_2{
	margin-top: 34px;
}

.section_droite_3{
	margin-top: 60px;
}



footer{
	padding-left: 3%;
	margin-bottom: 1%;
	margin-left: 17.5%;	
	order: 3;
}

footer h2{
	border-bottom: 2px #FECA07 solid;
	width: 95%;	
}

.section_droite_4{
	margin-top: 60px;
}

.section_droite_5{
	margin-left: 5%;
	margin-top: 2.9%;
}



@media all and (min-width: 600px) and (max-width: 1200px){
		header{
		order: 0;
		font-size: 40px;
	}

	header h3 span{
		border-bottom: 3px #FECA07 solid;
	}


	#section{
		position: initial;
		width: 100%;
	}

	img{
		width: 330px;
    	height: 330px;
    	border-radius: 300px;
    	margin-left: auto;
    	margin-right: auto;
    	padding: 100px;	
	}

	#section h2{
		font-size: 60px;
	}

	#section p{
		text-align: center;
		font-size: 30px;
	}

	#espace{
		padding-top: 0;
	}

	.loisirs{
		border: 1px solid black;
		font-size: 100px;
		width: 125px;
    	height: 125px;
    	border-radius: 100px;
    	padding: 8px;
	}


	#article_general h2{
		font-size: 30px;
		padding-top: 50px;  
	}

	article h2{
		border-bottom: 3px #FECA07 solid;
		width: 92%;
	}

	#article_general h3{
		font-size: 30px;
		/*padding-top: 50px; */
	}

	#article_general h4{
		font-size: 30px;
	}

	#article_general p{
		font-size: 25px;
	}

	#article_general i{
		margin-right: 25px;
	}

	.cercle_cercle{
		color: #FECA07;
		font-size: 12px;
	}

	#article_1{
		margin-left: 0;
		margin-right: 10px;
	}

	#article_2 {
		margin-left: 0;
	}

	.section_droite{
		margin-left: 0;
	}	

	.section_droite_2{
		padding-bottom: 50px; 
	}

	.section_droite_3{
		padding-bottom: 50px; 
	}


	.section_droite_5{
		padding-bottom: 40px;
		margin-left: 0;
	}

	.section_gauche{
		float: none;
	}

	.section_gauche_5{
		padding-bottom: 30px;	
	}	

	footer{
		margin-left: 0;
	}

	footer h2{
		font-size: 30px;
		border-bottom: 3px #FECA07 solid;
		width: 92%;
	}

	footer p{
		font-size: 25px;
	}

	footer i{
		margin-right: 25px;
		margin-top: 50px;
	}

}
 
